.base-btn {
    color: #fff;
    background-color: #4154FF;
    border-radius: 20px;
    padding: 10px 20px;
    line-height: 17px;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        background-color: #FF414B;
    }
}

.play-icon {
    flex-grow: 1;
    align-self: center;
    font-size: 1.2rem;

    i {
        color: #4154FF;
        line-height: 90px;
        text-align: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fff;

        &:hover {
            color: #FF414B;
            transition: all 0.5s ease;
        }
    }
}

.icon-right {
    position: relative;
    top: 0;
    right: -5px;
}

.icon-left {
    position: relative;
    top: 0;
    left: -5px;
}

.fa-chevron-up {
    font-size: 1.5rem;
}