.base-btn {
    color: #fff;
    background-color: #4154FF;
    border-radius: 20px;
    padding: 10px 20px;
    line-height: 17px;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        background-color: #FF414B;
    }
}

.play-icon {
    flex-grow: 1;
    align-self: center;
    font-size: 1.2rem;

    i {
        color: #4154FF;
        line-height: 90px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fff;

        &:hover {
            color: #FF414B;
        }
    }
}