@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.base-btn {
    color: white;
    background-color: #4145ff;
    border-radius: 20px;
    padding: 10px 20px;
    line-height: 17px;
    font-size: 14px;
    text-decoration: none;

    &:hover {
        background-color: #ff414b;
    }
}

.play-icon {
    font-size: 1.2rem;

    i {
        color: #4145ff;
        text-align: center;
        line-height: 90px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: white;

        &:hover {
            color: #ff414b;
        }
    }
}